---
layout: default
---

<body class="home-body">
  <div class="index-image-container">
    <img id="homeImage" class="show index-image" src="/assets/background1.jpg"/>
    <img id="portraitsImage" class="hidden index-image" src="/assets/portraits.jpg"/>
    <img id="collagesImage" class="hidden index-image" src="/assets/collages.jpg"/>
    <img id="projectsImage" class="hidden index-image" src="/assets/projects.jpg"/>
  </div>
  <div class="home-sidebar-container">
    {% include sidebar.html %}
  </div>
  <div class="home-main-container container">
    <div class="row">
      <div class="col-12 col-md-8 h-100 first-home-container">
        <div class="home-left-container">
          <div class="home-logo-container">
            <img src="assets/logonegro.png" class="home-logo">
          </div>
          <div class="home-main-text-container">
            <h1 class="home-main-title">Isabel Mi<span class="white">reles</span></h1>
            <h3 class="home-main-subtitle">Graphic Designer</h3>
          </div>
          <div class="home-about-contact-container">
            <div class="home-about-contact-group" id="about-contact">
              <img class="arrow-icon" src="assets/right-arrow.ico">
              <a class="home-about-contact-link" href="/about">About + Contact</a>
            </div>
          </div>
          <div class="home-social-media-links">
            <a class="social-icon" target="_blank" href="https://www.behance.net/gallery/97983553/By-Pieces">
              <i class="fab fa-behance fa-2x mr-2 behance-icon"></i>
            </a>
            <a class="social-icon" target="_blank" href="https://www.instagram.com/accounts/login/?next=/icm.design/%3Fhl%3Den">
              <i class="fab fa-instagram fa-2x instagram-icon"></i>
            </a>
          </div>


        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="home-right-container">
          <div class="home-work-container">
            <div class="home-work-links">
              <a data-component="hoverLink" href="/portraits" data-target="#portraitsImage" class="home-work-link">Portraits</a>
              <a data-component="hoverLink" href="/collages" data-target="#collagesImage" class="home-work-link">Collages</a>
              <a data-component="hoverLink" href="/projects" data-target="#projectsImage" class="home-work-link">Projects</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% include loadJS.html %}
</body>
