<div class="nav-bar-main sticky-top">
  <div class="row nav-bar-container">
    <div class="col-2 nav-bar-logo-container">
      <a href="/">
        <img src="assets/logonegro.png" class="nav-bar-logo"/>
      </a>
    </div>
    <div class="col nav-bar-links">
      <a href="#home" class="nav-bar-link">Collages</a>
      <a href="#news" class="nav-bar-link">Portraits</a>
      <a href="#contact" class="nav-bar-link">Projects</a>
    </div>
    <div class="col-2 sidenav-main-container">
      {% include sidebar.html %}
    </div>
  </div>
</div>
