<div class="sidenav-container">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/work" class="sidenav-links">WORK</a>
    <a href="/blog" class="sidenav-links">PROJECTS</a>
    <a href="/about" class="sidenav-links">ABOUT</a>
    <a href="/contact" class="sidenav-links">CONTACT</a>
  </div>

  <span onclick="openNav()" class="three-bars">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </span>
</div>
