---
---

@import 'bootstrap/bootstrap';

// Bootstrap breakpoints
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

.container {
  height: 100%;
}


// Homepage


.home-main-container {
  height: 90vh;
  padding-top: 50px;
  animation: slide-in 0.5s 1;
  animation-fill-mode: forwards;
}

.row {
  height: 100%;
  flex-wrap: nowrap!important;
}

.home-left-container {
  height: 100%;
}

.second-home-container {
  justify-content: flex-end;
}

.home-logo-container {
  height: 30vh;
}

.home-logo {
  width: 200px;
}

.home-main-text-container {
  height: 30vh;
}

.home-main-title {
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-size: 50px;
  font-family: "DM Serif Display";
}

.white-font {
  color: white;
}

.home-main-subtitle {
  letter-spacing: 1px;
  font-family: "Roboto";
}


.home-about-contact-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.home-about-contact-group {
  max-width: max-content;
}

.home-about-contact-group:hover {
  text-decoration: none;
  color: black;
}

.home-about-contact-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-bottom: 20px;
}


.home-about-contact-link:hover {
  color: red;
  text-decoration: none;
}

.arrow-icon {
  width: 20px;
}

.home-social-media-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  height: 20vh;
  justify-content: flex-end;
}

.social-icon {
  text-decoration: none;
  color: #373b3e;
}

.social-icon:first-child {
  margin-right: 10px;
}

.behance-icon:hover {
  color: #e93e2a;
}

.instagram-icon:hover {
  color: #f0ab4d;
}

.home-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-sidebar-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 10px;
}

.home-work-subtitle-container {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
}

.home-work-subtitle {
  font-size: 18px;
  font-family: "DM Serif Display";
}


.home-work-links {
  padding-top: 200px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.home-work-link {
  padding-bottom: 50px;
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: "DM Serif Display";

}

.home-work-link:hover {
  text-decoration: underline;
  color: black;
}

.index-image-container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 450px;
  overflow: hidden;
  z-index: -2;
}

.index-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;

}

.hidden {
  display: none;
}

.hide {
  animation: slide-out 0.5s ease-in;
  animation-fill-mode: forwards;
}

.show {
  display: initial;
  animation: slide-in 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 90%;
  }
}

@keyframes slide-out {
  0% {
    opacity: 90%;
  }
  100% {
    opacity: 0%;
  }
}


// Navbar

.nav-bar-main {
  z-index: 5;
}

.nav-bar-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.nav-bar-logo-container {
  margin-left: 20px;
  cursor: pointer;
}

.nav-bar-logo {
  max-width: 50%;
}

.nav-bar-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.current {
  font-weight: bold;
  color: red!important;
}

.nav-bar-link:hover {
  color: red;
  text-decoration: none;
}

.nav-bar-link {
  color: black;
  font-family: "Roboto";
}

// Sidebar

.sidenav-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.8s;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

//* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
  font-family: 'Roboto';
  font-size: 50px;
  padding: 10px;
  align-items: center;
  letter-spacing: 5px;
}

//* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

//* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.three-bars div {
    height: 4px;
    background-color: black;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.one {
    width: 30px;
}

.two {
    width: 20px;
}

.three {
    width: 25px;
}

.three-bars:hover div {
    width: 30px;
}

// Work

.work-img {
  cursor: pointer;
}

.work-body {
  background-color: whitesmoke;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


// About

.logo-sidebar-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.about-logo {
  width: 100px;
}

.about-title {
  margin-bottom: 50px;
  color: #e93e2a;
}

.about-main-container {
  height: 100%;
}

.about-container {
  padding-right: 100px;
}

.about-image-container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 680px;
  overflow: hidden;
  z-index: -2;
}

.about-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

label {
  color: whitesmoke!important;
}

// Projects Index

.projects-row-left {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.projects-row-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  position: relative;
}

.projects-image {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.projects-title {
  display: flex;
  align-items: center;
  z-index: 1;
}

.projects-main-title {
  color: red;
  font-size: 50px;
}

.left-title {
  margin-left: -15px;
}

.right-title {
  margin-right: -15px;
}

.black-title {
  color: black!important;
}

.project-hover {
  display: flex;
}

.hover-show {
  display: none;
}

.project-hover:hover .hover-hide {
  display: none;
}

.project-hover:hover .hover-show {
  display: flex;
}


// Mobile and Tablet Homepage

@media (max-width: $bootstrap-sm) {

  .index-image-container {
    left: 0px;
    height: 50%;
  }

  .home-main-text-container {
    margin-bottom: 10px;
    height: auto;
  }

  .home-social-media-links {
    width: auto;
  }

  .home-logo-container {
    height: 20vh;
  }

  .home-main-title {
    padding-bottom: 80px;
  }

  .home-main-subtitle {
    text-align: center;
  }

  .first-home-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

@media (max-width: $bootstrap-md) {

  .home-main-container {
    padding-top: 0px;
  }

  .index-image-container {
    min-height: 100vh;
    left: 500px;
  }

  .home-work-links {
    padding-top: 200px;
  }
}

// Mobile Navbar

@media (max-width: $bootstrap-sm) {

  .nav-bar-container {
    justify-content: space-around;
  }

  .nav-bar-links {
    display: none;
  }

  .nav-bar-logo {
    max-width: 80%;
    margin-bottom: 10px;
  }

  .sidenav a {
    font-size: 40px;
  }

}

// Mobile and Tablet About

@media (max-width: $bootstrap-sm) {

  .about-container {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .form-container {
    padding-bottom: 20px;
  }

  .contact-form {
    background-image: url("/assets/background1.jpg");
    padding: 10px;
  }

}

@media (max-width: $bootstrap-md) {

  .about-main-container {
    margin-bottom: 50px;
  }

  .about-image-container {
    left: 450px;
    height: 100%;
  }
}
// Mobile and Tablet Work

@media (max-width: $bootstrap-sm) {

  .modal-dialog {
    max-width: 800px;
  }

  .modal-content {
      /* 80% of window height */
      height: 100%;
  }

  .carousel-item  {

    img {
      object-fit: scale-down;
      height: 480px;
    }
  }
}


// Mobile Projects

@media (max-width: $bootstrap-sm) {

  .project-hover {
    flex-direction: column;
  }

  .projects-image {
    width: 300px;
    height: 300px;
  }

  .projects-row {
    justify-content: center;
  }

  .projects-row-right {
    flex-direction: column;
  }

  .left-title {
    margin-left: 0px;
  }

  .projects-main-title {
    font-size: 30px;
  }

  .right-hover {
    flex-direction: column-reverse;
  }

  .carousel-item {
    height: 80vh;
    max-height: 80vh;
  }

  .carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-center {
    margin-top: 10px;
  }

}
